html {
    font-family: "Open Sans"
}

.title {
    color: blue;
}

.square {
    width: 300px;
    height: 300px;
}

.yellow {
    background-color: yellow
}

.blue {
    background-color: blue;
}

.coisa-legal {
    font-size: 15px;
}
