html {
    font-family: "Open Sans"
}

.title {
    color: yellow;
}

.square {
    width: 100px;
    height: 100px;
}

.yellow {
    background-color: yellow
}

.blue {
    background-color: blue;
}

.pink {
    color: pink;
    background-color: blue;
}

.coisa-legal {
    font-size: 15px;
}
